* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color:#222831;
}

#main_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding: 2vh;
}

h1{
    color: #FEBA17;
    margin: 3vh;
    font-size: 250%;
}

#board {
    height: 60vh;
    width: 60vh;
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.box {
    margin: 0.7vh;
    border-radius: 10px;
    font-size: 12vh;
    font-weight: 0.8;
    color: #161617;
    background-color:#DFD0B8;
    box-shadow: rgb(0, 0, 0, 0.3);
}

.box:hover{
    background-color: #e4cea8;
}

.result {
    width: 90vw;               
    word-wrap: break-word;    
    text-align: center;
    margin: 1.5vh;
    padding: 0.8vh;
    color: #FEBA17;
    font-size: 4vh;            
    max-height: none;          
}


.hide{
    display: none;
}

#reset_btn,
#menu_btn {
    background-color: #393E46;
    color: white;
    padding: 1vh;
    font-size: 110%;
    margin-top: 2.5vh;
}

#reset_btn:hover,
#menu_btn:hover {
    background-color: #32363b;
    padding: 1.1vh;
}

#btn {
    display: flex;
    gap: 60px;
}

@media (max-width: 768px) {
    #board {
        height: 90vw;
        width: 90vw;
    }

    .box {
        margin: 1vw;
        font-size: 10vw;
    }

    .result {
        font-size: 3.5vh;
        margin-top: 1vh;
    }

    h1 {
        font-size: 6vw;
    }

    #reset_btn,
    #menu_btn {
        font-size: 4vw;
        padding: 1.5vh 4vw;
    }
}
@media (max-width: 480px) {
    .result{ font-size: 3vh; }
    .box { font-size: 9vw; }
    h1 { font-size: 7vw; }
}
